.navbar {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4161a2;
}
.navbar .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navmenu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .navmenu .links li a {
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 18px;
  text-decoration: none;
}
.navbar .navmenu .links li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding: 30px;
  background-color: #4161a2;
}
.footer .nav-right .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  font-size: 25px;
}
.footer .copyright {
  text-align: center;
}

a:hover,
button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}
.introduction .left {
  margin-right: 20px;
}
.introduction .left .main {
  font-family: "Inter";
}
.introduction .left .main .main-title {
  font-size: 60px;
  line-height: 125%;
}
.introduction .left .main .main-info {
  font-size: 22px;
  line-height: 140%;
  text-align: justify;
}
.introduction .right {
  margin-left: 20px;
}

.category-container {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter";
}
.category-container .left {
  width: 100%;
}
.category-container .left .sub-header {
  font-size: 14px;
  color: #ed553b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category-container .left .sub-header p {
  margin-left: 5px;
}
.category-container .left .section-header {
  font-size: 32px;
  line-height: 44px;
  color: #393280;
  margin: 5px 0;
}
.category-container .right {
  width: 100%;
}
.category-container .right .info {
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  font-family: "Inter";
  color: #393280;
  line-height: 32px;
  text-align: center;
}
.image-gallery .image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-gallery .image .caption {
  margin-top: 10px;
  font-size: 24px;
}
.image-gallery .image .details {
  margin-top: 10px;
  font-size: 16px;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}
.btn-container .view-more {
  padding: 15px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  font-family: "Inter";
  color: #393280;
  font-size: 16px;
  text-transform: uppercase;
  background-color: beige;
}
.btn-container .view-more:hover {
  text-decoration: underline;
  border: 1px solid #393280;
}