.footer {
  padding: 30px;
  background-color: #64d810;

  .nav-right {
    .links {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      font-size: 25px;

      .fa-instagram {
        color: red;
      }

      .fa-whatsapp {
        color: green;
      }
    }
  }

  .copyright {
    text-align: center;
  }
}
