.navbar {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #64d810;

  .navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      display: flex;

      li {
        a {
          color: #ffffff;
          margin-right: 20px;
          padding: 0px 10px;
          font-size: 18px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }

          &.active {
            color: rgb(199, 69, 14);
            text-decoration: underline;
            font-style: italic;
          }
        }
      }
    }
  }
}
