.logo {
  margin-left: 5%;
}

.navbar {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#64d810;
}
 p {
font-family: 'inter';
font-size:22px;
line-height: 25px;
}
  


.navbar .navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.links {
  display: flex;
  list-style-type: none;
}

.navmenu .links li a {
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 18px;
  text-decoration: none;
}

.navbar .navmenu .links li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar .navmenu .links li a.active {
  color: rgb(199, 69, 14);
  text-decoration: underline;
  font-style: italic;
}

.about-us-section {
  padding: 30px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.about-us-text {
  width: 20%;
  text-align: justify;
  font-size: 25px;
}

.about-us-text h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
 
}

.about-us-image {
  width: 35%;
  text-align: right;

  border-radius: 10px;
  margin-right: 20%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #64d810;
  position: relative;
}

.nav-left {
  flex: 1;
}

.logo2 {
  margin-left: 5%;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-right .links {
  display: flex;
  gap: 15px;
}

.nav-right .links li {
  list-style: none;
}

.nav-right .links a {
  text-decoration: none;
  color: inherit;
}

.fa-brands {
  font-size: 25px !important;
}

.media {
  margin-left: 15px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color:green;
}
.fa-twitter {
  color: rgb(8, 8, 82);
}
.fa-facebook {
  color: rgb(8, 8, 82);
}

