body {
  background-image: url("/images/nedladdning.jpg");
  background-size: cover;
}

.about-us-section {
  padding: 30px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.about-us-text {
  width: 20%;
  text-align: justify;
  font-size: 25px;
}

.about-us-text h2 {
  text-align: center;
  color: #64d810;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.about-us-image {
  width: 35%;
  text-align: right;

  border-radius: 10px;
  margin-right: 20%;
}
